<!--
    2021 10 20 상민 수정
-->

{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon -->
<link rel="shortcut icon" href="#">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> <!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 테마 -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"> <!-- 자바스크립트 -->

<!-- stylesheet -->
<link rel="stylesheet" href="{%static 'django_app/car_interface/css/style.css' %}" />
<!-- <link rel="stylesheet"  href="{%static 'django_app/car_interface/css/style2.css' %}" /> -->
<link rel="stylesheet" href="{%static 'django_app/car_interface/css/ribbon.css' %}" />

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

<!-- wavesurfer -->
<script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.js?ver={% now "M-H-i"%}"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js?ver={% now "M-H-i"%}"></script> <!-- timeline plugin -->
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.js?ver={% now "M-H-i"%}"></script> <!-- regions plugin -->
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.js?ver={% now "M-H-i"%}"></script> <!-- minimap plugin -->
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.js?ver={% now "M-H-i"%}"></script> <!-- cursor plugin -->
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.markers.js?ver={% now "M-H-i"%}"></script> <!-- markers plugin -->
<link rel="screenshot" itemprop="screenshot"
    href="https://katspaugh.github.io/wavesurfer.js/example/screenshot.png" /> <!-- example img -->

<!-- fabric -->
<script>
    (function () {
        var fabricUrl = "{%static 'django_app/car_interface/lib/fabric.js' %}?ver={% now "M-H-i"%}";
        if (document.location.search.indexOf('load_fabric_from=') > -1) {
            var match = document.location.search.match(/load_fabric_from=([^&]*)/);
            if (match && match[1]) {
                fabricUrl = match[1];
            }
        }
        document.write('<script src="' + fabricUrl + '"><\/script>');
    })();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js?ver={% now "M-H-i"%}"></script>

<!-- hand pose -->
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js?ver={% now "M-H-i"%}" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js?ver={% now "M-H-i"%}" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js?ver={% now "M-H-i"%}" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js?ver={% now "M-H-i"%}" crossorigin="anonymous"></script>

<!-- xml2json -->
<script type="text/javascript" src="{%static 'django_app/car_interface/lib/xml2json.js' %}?ver={% now "M-H-i"%}"></script>

<!-- zip file download -->
<script async type="text/javascript" src="{%static 'django_app/car_interface/lib/jszip.min.js' %}?ver={% now "M-H-i"%}" charset="utf-8">
</script>
<script async type="text/javascript" src="{%static 'django_app/car_interface/lib/FileSaver.min.js' %}?ver={% now "M-H-i"%}"
    charset="utf-8"></script>
<script async type="text/javascript" charset="utf-8"></script>

<!-- google analytics -->
<script src="{%static 'django_app/car_interface/lib/master.js' %}?ver={% now "M-H-i"%}"></script>