{% extends 'django_app/base.html' %}
{% load static %}
{% block contents %}
<link rel="icon" href="{% static 'django_app/img/logo/gjac_favicon.ico' %}">
<link rel="stylesheet" href="{% static 'django_app/css/color.css' %}">
<script src="{% static 'django_app/js/tool/button.js' %}"></script>



<div class="workMain">
  <div style="padding:31px;">
    <div>
      <div class="flex_row">
        <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
        <div class="labellingWork">가이드 라인</div>
      </div>
      <div class="imgscroll"> 	  
		<img src="{% static 'django_app/img/guide_img/abnormal1.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal2.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal3.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal4.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal5.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal6.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal7.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal8.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal9.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal10.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal11.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal12.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal13.png' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/abnormal14.png' %}" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>

{% endblock %}
<script src="{% static 'django_app/js/tool/button.js' %}"></script>app/js/tool/button.js' %}"></script>